body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    background-color: #fff;
    padding: 10px;
}

.calculator-screen {
    width: 100%;
    height: 60px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding: 0 20px;
    font-size: 2em;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 10px;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #d0d0d0;
}

.operator {
    background-color: #ff9800;
    color: white;
}

.operator:hover {
    background-color: #e68900;
}

.all-clear {
    background-color: #f44336;
    color: white;
}

.all-clear:hover {
    background-color: #da190b;
}

.equal-sign {
    grid-column: 4 / 5;
    grid-row: 2 / span 4; /* Span rows to fill space */
    height: 100%;
}
